<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업정보관리 | 잡코리아</title>
    <link rel="stylesheet" href="/static/css/corporate/profile.css">
</head>
<body>
    <div id="wrap">
        <div class="sideTrue devUseTopBtn" id="container">
            <!-- 어사이드 -->
            <div id="sideNav" class="devCorpLogin">
                <!-- 기업 정보 관리 메뉴 -->
                <div class="nav">
                    <ul>
                        <!-- server, javascript: 해당 페이지일 때, on 클래스 추가 -->
                        <li class="devCorpInfoDetail on">
                            <a href="">기업정보관리</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">회원정보관리</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">로그인관리 </a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">정보 수신 설정</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">2단계 인증 관리</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">2단계 인증 내역</a>
                        </li>
                        <li class="devCorpInfoDetail">
                            <a href="">기업인증</a>
                        </li>
                        <li>
                            <a href="">전문채용관 신청</a>
                        </li>
                        <li>
                            <a href="">슈퍼기업관 신청</a>
                        </li>
                    </ul>
                </div>

                <!-- 광고 -->
                <div class="adLeftBx">
                    <div class="ad-container">
                        <a href="javascript:;" class="imgAdBnnr">
                            <img src="https://ads.jobkorea.co.kr/ads/pc/images/202512/54af1f5a-b9e0-45bb-8f00-cb06f2d01441.png">
                            <!-- onerror -->
                        </a>
                    </div>
                </div>
                <div class="adLeftBx">
                    <a href="">
                        <img src="https://i.jobkorea.kr/content/images/banner/lnb_certify_banner.png">
                    </a>
                </div>

            </div>

            <!-- 복리후생 스타일 -->
            <div id="content">
                <div class="companyContent">
                    <div class="companyMngWrap">
                        <form id="devInfoForm" name="form" method="post">
                            <!-- 기업정보관리 입력폼 -->
                            <fieldset>
                                <div class="artCompany artCoSummary">
                                    <div class="infoTbBx">
                                        <div class="tbRow">
                                            <div class="tbCell tbSum">
                                                <p class="name">
                                                    <!-- server: click 시, 기업 정보 페이지로 이동 -->
                                                    <a href="" target="_blank">기업이름</a>
                                                </p>
                                                <dl class="info">
                                                    <dt>사업자번호</dt>
                                                    <dd>111-11-11111</dd>
                                                    <dt>상장여부</dt>
                                                    <dd>비상장</dd>
                                                </dl>
                                            </div>
                                            <div class="tbCell tbLogo">
                                                <button type="button" class="infoBtnB infoBtnUp" id="devLogoUp"><span>로고업로드</span></button>
                                                <div class="logoUploadWrap">
                                                    <!-- iframe(모달) -->
                                                </div>
                                            </div>
                                            <!-- javascript: 로고 업로드 버튼 클릭 시, on 클래스 추가(모달) -->
                                        </div>
                                    </div>
                                </div>

                                <div class="artCompany artCoBasic">
                                    <h3 class="info_hd_3">기본정보</h3>
                                    <div class="infoTbBx">
                                        <div class="tbRow">
                                            <div class="tbCell">
                                                <div class="elWrap devElWrap ok">
                                                    <div class="schInpType">
                                                        <label class="ph devInputTxExam" for="txtBossName">
                                                            대표자명
                                                            <span class="point">*</span>
                                                        </label>
                                                        <input type="text" id="txtBossName" class="inpDefault devAnimPh" name="Boss_Name" value="이름" maxlength="25">
                                                    </div>
                                                </div>
                                                <!-- javascript: input 선택 시 on 추가, 입력 완료 시 ok 추가, 필수 정보를 입력하지 않을 시 error 추가 -->
                                            </div>

                                            <div class="tbCell">
                                                <div class="elWrap devElWrap">
                                                    <div class="schInpType">
                                                        <label class="ph devInputTxExam" for="txtBossName">
                                                            대표자명
                                                            <span class="point">*</span>
                                                        </label>
                                                        <input type="text" id="txtBossName" class="inpDefault devAnimPh" name="Boss_Name" value="이름" maxlength="25">
                                                    </div>
                                                </div>
                                                <!-- javascript: input 선택 시 on 추가, 입력 완료 시 ok 추가, 필수 정보를 입력하지 않을 시 error 추가 -->
                                            </div>

                                            <div class="tbCell">
                                                <div class="elWrap devElWrap ok">
                                                    <div class="schInpType">
                                                        <label class="ph devInputTxExam" for="txtBossName">
                                                            대표자명
                                                            <span class="point">*</span>
                                                        </label>
                                                        <input type="text" id="txtBossName" class="inpDefault devAnimPh" name="Boss_Name" value="이름" maxlength="25">
                                                    </div>
                                                </div>
                                                <!-- javascript: input 선택 시 on 추가, 입력 완료 시 ok 추가, 필수 정보를 입력하지 않을 시 error 추가 -->
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>