@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/static/font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/static/font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/static/font/Pretendard-Bold.subset.woff2") format(woff2);
}

/* 기본 */
* {
    padding: 0;
    margin: 0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}
html, body {
    width: 100%;
}
body {
    font-size: 12px;
    letter-spacing: 0px;
    color: #666;
    /* background-color: #f2f4f7; */
}
li {
    list-style: none;
}
a, a:link, a:visited {
    color: #666;
    text-decoration: none;
}
/* img {
    border: 0;
    vertical-align: top;
} */
button, fieldset, form, iframe {
    border: 0;
}
button {
    overflow: visible;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}
/* button, input, select {
    vertical-align: middle;
} */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 100%;
}
/* label {
    cursor: pointer;
    vertical-align: middle;
} */
/* input[type=text] {
    font-size: 13px;
    letter-spacing: 0;
    color: #000;
} */

#wrap {
    position: relative;
    min-width: 1270px;
    margin: 0 auto;
    background: #f2f4f7;
}
#wrap #container {
    width: 1250px !important;
    margin: 0 auto;
}
#wrap #container:after {
    content: "";
    display: block;
    clear: both;
}

/* 어사이드 */
    /* 기업 정보 관리 메뉴 */
#wrap #container #sideNav {
    width: 200px;
    float: left;
}
#sideNav .nav {
    border: 1px solid #e1e5eb;
    background: #fff;
    box-sizing: border-box;
}
#sideNav .nav ul {
    padding: 25px 20px;
}
#sideNav .nav li {
    font-size: 15px;
    padding: 12px 0;
    line-height: 1.4;
}
#sideNav .nav li.on > a {
    font-weight: bold;
}
#sideNav .nav li > a:hover, #sideNav .nav li.on > a {
    color: #39f;
}
#sideNav .nav li > a {
    color: #000;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.4;
}
    /* 광고 */
#sideNav .adLeftBx {
    margin-top: 10px;
    text-align: center;
}
#sideNav .adLeftBx .ad-container {
    width: 200px;
    height: 275px;
    background-color: #ffffff;
}
.ad-container, .ad-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .ad-container a, .ad-container a p {
    color: #333;
    font: 14px / 17px Pretendard;
}
.ad-container a img {
    max-width: 100%;
    object-fit: contain;
} */

/* 복리후생 스타일 */
#wrap #container.sideTrue #content {
    width: 1040px;
    float: right;
    border: 0;
    background: none;
    box-sizing: border-box;
}
    /* 기업정보관리 입력폼 */
.artCompany {
    padding: 31px 31px 44px 31px;
    border: 1px solid #e1e5eb;
    background: #fff;
    box-sizing: border-box;
}
.artCoSummary {
    padding: 0;
}
.infoTbBx .tbRow {
    display: table;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}
.infoTbBx .tbCell {
    display: table-cell;
    vertical-align: middle;
}
.artCoSummary .tbSum {
    overflow: hidden;
    color: #000;
    height: 101px;
    padding: 0 31px 5px 31px;
    box-sizing: border-box;
}
.artCoSummary .tbSum .name {
    font-size: 30px;
    letter-spacing: -0.5px;
    padding-right: 30px;
    line-height: 1.2;
    word-break: break-all;
}
.artCoSummary .tbSum .name, .artCoSummary .tbSum .info {
    display: table-cell;
    vertical-align: middle;
}
.artCoSummary .tbSum .info {
    font-size: 15px;
    padding-top: 6px;
    text-align: right;
    white-space: nowrap;
}
.artCoSummary .tbSum .info dt {
    color: #999;
}
.artCoSummary .tbSum .info dt, .artCoSummary .tbSum .info dd {
    display: inline-block;
}
.artCoSummary .tbSum .info dt:first-child + dd {
    margin-right: 27px;
}
.artCoSummary .tbSum .info dd {
    margin-left: 4px;
}
.artCoSummary .tbLogo {
    position: relative;
    width: 248px;
    border-left: 1px solid #eee;
    box-sizing: border-box;
}
.infoBtn, .infoBtnB, .infoBtnA, .infoBtnM {
    position: relative;
    display: inline-block;
    color: #666;
    box-sizing: border-box;
}
.artCoSummary .tbLogo .infoBtnUp {
    display: block;
    width: 113px;
    margin: 0 auto;
    
}
.infoBtnUp{
    font-size: 16px;
    color: #999;
    padding: 8px 8px;
}
.infoBtnB:before, .infoBtnA:after, .infoBtnM:before, .infoBtnM:after {
    content: "";
}
.infoBtn span, .infoBtnB span, .infoBtnA span, .infoBtnM span, .infoBtnB:before, .infoBtnA:after, .infoBtnM:before, .infoBtnM:after {
    position: relative;
}
.infoBtn, .infoBtnB:before, .infoBtnA:after, .infoBtnM:before, .infoBtnM:after {
    display: inline-block;
    background: url("https://i.jobkorea.kr/content/images/ver_1/mtc/info/info_sp_btn.png") no-repeat;
    vertical-align: middle;
    box-sizing: border-box;
}
.infoBtnUp:before {
    width: 16px;
    height: 16px;
    margin: -2px 6px 0 0;
    background-position: -30px 0;
}
.artCompany + .artCompany {
    margin-top: 10px;
}
.artCompany .info_hd_3 {
    overflow: hidden;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
    /* 기본 정보 */
.artCoBasic .tbCell {
    width: 33.33%;
}
.artCoBasic .tbCell + .tbCell {
    padding-left: 10px;
}
.elWrap {
    position: relative;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
}
.elWrap.on {
    border: 1px solid #565d79 !important;
    z-index: 10;
}
.error.elWrap {
    border: 1px solid #eb8f8a !important;
    z-index: auto;
}
.elWrap .schInpType {
    position: relative;
}
.elWrap .ph {
    cursor: initial;
    font-weight: normal;
}
.elWrap .schInpType .ph {
    font-size: 16px;
    color: #afb0b2;
    position: absolute;
    left: 16px;
    top: 19px;
    z-index: 1;
    transition: all 0.2s ease-out;
}
.elWrap.ok .ph {
    font-size: 11px;
    color: #afb0b2;
    top: 10px;
}
.elWrap .schInpType .ph .point {
    color: #ff3333;
}
.elWrap .schInpType .inpDefault {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 40px;
    padding: 20px 17px 0 17px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}