<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/static/css/community/footer.css">
</head>
<body>
    <div id="footer" class="footer footer--main">
    <div class="footer__wrap">
        <h2 class="skip">잡코리아 기타 정보</h2>
        <div class="footer__notice">
            <div class="notice-wrap">
                <h3 class="blind">공지사항</h3>
                <dl class="footer__notice-wrap clear">
                    <dt class="footer__notice-title"><a href="" onclick="">공지사항<i class="system_system_arrow_right"></i></a></dt>
                    <div class="footer__notice-text">
                        <div class="noti-slide">
                            <div class="swiper-container swiper-container-vertical">
                                <ul class="swiper-wrapper lst" style="transition-duration: 300ms; transform: translate3d(0px, -48px, 0px);"><li class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="height: 24px;">
                                            <a href="" onclick="">[공지] 기업회원 대상 상품 일부 가격조정 안내</a>
                                        </li>
                                        <li class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="height: 24px;">
                                            <a href="" onclick="">[무료] 잡코리아 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게</a>
                                        </li>
                                        <li class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="height: 24px;">
                                            <a href="" onclick="">[VOICE WANTED] 보이스피싱범 목소리 공개수배</a>
                                        </li>
                                        <li class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="height: 24px;">
                                            <a href="" onclick="">[공지] 기업회원 대상 상품 일부 가격조정 안내</a>
                                        </li>
                                <li class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="height: 24px;">
                                            <a href="" onclick="">[무료] 잡코리아 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게</a>
                                        </li></ul>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        </div>
                    </div>
                </dl>
                <div class="ftr-right">
                    <ul class="list-service">
                        <li>
                            <a href="" target="_blank" title="새창" class="footer__help-link" onclick="">톡톡 상담하기 <i class="system_system_arrow_right"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" title="새창" class="footer__help-link" onclick=""> FAQ 바로가기<i class="system_system_arrow_right"></i></a>
                        </li>
                    </ul>
                    <ul class="ftr_sns">
                        <li class="sns-item">
                            <a href="" target="_blank" title="페이스북" class="footer__sns-item--facebook" onclick="">
                                <span class="skip">페이스북</span><i class="footer_facebook"></i>
                            </a>
                        </li>
                        <li class="sns-item">
                            <a href="" target="_blank" title="인스타그램" class="footer__sns-item--instagram" onclick=""><span class="skip">인스타그램</span><i class="footer_instagram"></i></a>
                        </li>
                        <li class="sns-item">
                            <a href="" target="_blank" title="유튜브" class="sns-item--youtube" onclick="">
                                <span class="skip">유튜브</span><i class="footer_youtube"></i>
                            </a>
                        </li>
                        <li class="sns-item">
                            <a href="" target="_blank" title="블로그" class="footer__sns-item--blog" onclick=""><span class="skip">블로그</span><i class="footer_blog"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__service">
            <h3 class="blind">잡코리아 서비스 링크</h3>
            <ul>
                <li><a href="" target="_blank" onclick="">회사소개</a></li>
                <li><a href="" target="_blank" onclick="">브랜드스토리</a></li>
                <li><a href="" target="_blank" onclick="">이용약관</a></li>
                <li><a href="" target="_blank" onclick=""><strong>개인정보처리방침</strong></a></li>
                <li><a href="" target="_blank" onclick=""><strong>위치기반서비스이용약관</strong></a></li>
                <li><a href="" target="_blank" onclick="">채용정보 API</a></li>
                <li><a href="" target="_blank" onclick="">광고문의</a></li>
                <li><a href="" target="_blank" onclick="">제휴문의</a></li>
                <li><a href="" target="_blank" onclick="">고객센터</a></li>
                <li><a href="" target="_blank" onclick="">사이트맵</a></li>
                
            </ul>
        </div>

        <div class="footer__help">
            <h3 class="blind">고객센터</h3>
            <dl class="footer__help-wrap footer__help-wrap--working-hour">
                <dt class="footer__help-title">고객센터</dt>
                <dd class="footer__help-text">1588-9350</dd>
                <dd class="footer__help-text">
                    (평일 <span class="tahoma">09:00 ~ 19:00</span> 토요일 <span class="tahoma">09:00 ~ 15:00</span>)
                </dd>
            </dl>
            <dl class="footer__help-wrap footer__help-wrap--fax">
                <dt class="footer__help-title">FAX</dt>
                <dd class="footer__help-text">02-565-9351</dd>
            </dl>
            <dl class="footer__help-wrap footer__help-wrap--email">
                <dt class="footer__help-title">Email</dt>
                <dd class="footer__help-text">
                    <a href="" class="footer__help-link">helpdesk@jobkorea.co.kr</a>
                </dd>
            </dl>
            <ul class="footer__sns">
            </ul>
        </div>

        <!-- 메인에서만 노출 -->
        <div class="footer__company">
            <div class="footer__company-item footer__company-item--ceo">대표 : 윤현준</div>
            <div class="footer__company-item footer__company-item--business">
                사업자등록번호 : <span>
                    110-81-34859<a href="" class="business-button">사업자정보 확인 &gt;</a>
                </span>
            </div>
            <div class="footer__company-item footer__company-item--address">주소 : 서울시 서초구 서초대로 301 동익성봉빌딩 16~18층</div>
            <br>
            <div class="footer__company-item footer__company-item--report">통신판매업 신고번호 : 2016-서울서초-0287호</div>
            <div class="footer__company-item footer__company-item--job">직업정보제공사업 신고번호 : 서울청 제2016-11호</div>
            <div class="footer__company-item footer__company-item--job">유료직업소개업 등록번호 : 제2002-3210195-14-5-00035호</div>
            <br>
            <div class="copyright">
                © <strong><a href="" target="_blank">JOBKOREA</a></strong> LLC. All rights
                reserved.
            </div>
        </div>
    </div>
    <div class="footer__award">
        <ul>
            <li class="footer__award-item footer__award-item--kbpi"><a href="" target="_blank">2023-2025 한국산업의 브랜드파워 1위<br>(취업전문포털)</a></li>
            <li class="footer__award-item footer__award-item--bcli"><a href="" target="_blank">2022 브랜드 고객 충성도<br>대상 수상</a></li>
            <li class="footer__award-item footer__award-item--ismsp"><a href="" target="_blank">[인증범위] 온라인 리크루팅 서비스<br>[유효기간] 2024.02.21 ~ 2027.02.20</a></li>
            <li class="footer__award-item footer__award-item--keis"><a href="" target="_blank">한국고용정보원<br>고용서비스 우수기관 인증 (2024)</a></li>
            <li class="footer__award-item footer__award-item--spam"><a href="" target="_blank">대량문자<br>전송자격인증 (2025)</a></li>
        </ul>
    </div>
</div>
</body>
</html>